.onescreen {
  width: 100vw;
  min-height:100vh;
}

.dark-overlay {
  background-color: rgba($color: #292828, $alpha: 0.5)
}

.location-text {
  padding: 1em;
  // margin-top: 80px;
  // border-radius: 5%;
  // position: absolute;
  background-color: rgba($color: #282828, $alpha: 0.5);
}
