.onescreen {
  width: 100vw;
  min-height:100vh;
}

.dark-overlay {
  background-color: rgba($color: #292828, $alpha: 0.5)
}

.location-text {
  padding: 1em;
  // margin-top: 80px;
  // border-radius: 5%;
  // position: absolute;
  background-color: rgba($color: #282828, $alpha: 0.5);
}

// materialize scrollspy fix
#services, #estimator {
  padding-top: 56px;
  margin-top: -56px;
}

nav ul a.active {
  color: #26a69a;
}
